<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common/head::head}"></div>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{common/header::admin-nav}"></div>

    <div class="layui-body">
        <div class="layui-container">
            <!-- 内容主体区域 -->
            <!--            <div style="padding: 15px;">后台主页</div>-->



            <div class="layui-row">
                <div class="layui-col-md9">
                    <!--                    你的内容 9/12-->

                    <table class="layui-table" lay-skin="line">
                        <colgroup>
                            <col width="20">
                            <col>
                            <col width="90">
                            <col width="90">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>技术名称</th>
                            <th>修改</th>
                            <th>删除</th>
                        </tr>
                        </thead>

                        <tbody id="content_tbody">
                        <!--                        <tr id="content_table">-->
                        <!--                            <td id="tid">-->
                        <!--                                1-->
                        <!--                            </td>-->
                        <!--                            <td id="title">-->
                        <!--                                文章&&&&&&&&&-->
                        <!--                            </td>-->
                        <!--                            <td >-->
                        <!--                                <button class="layui-btn layui-btn-sm layui-btn-primary">-->
                        <!--                                    <i class="layui-icon">&#xe642;</i>-->
                        <!--                                </button>-->
                        <!--                            </td>-->
                        <!--                            <td>-->
                        <!--                                <button class="layui-btn layui-btn-sm layui-btn-primary">-->
                        <!--                                    <i class="layui-icon">&#xe640;</i>-->
                        <!--                                </button>-->
                        <!--                            </td>-->

                        <!--                        </tr>-->

                        </tbody>
                    </table>


                </div>

            </div>
        </div>
    </div>
</div>
<script th:src="@{../layui/layui.js}" charset="utf-8"></script>
<script th:src="@{//cdn.bootcss.com/jquery/2.2.3/jquery.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

        //查询所有技术分类
    });

    function getAllGroup(){

        $.ajax({
            url:"/group/all",
            type:"GET",
            async:false,
            success:function (datas) {
                for (var i =0 ;i<datas.data.length;i++){

                    var html='<tr id="content_table">'+
                        '<td id="gid">'+datas.data[i].gid+'</td>' +
                        '<td id="title">'+datas.data[i].gname+'</td>'+
                        '<td >'+
                        //此处为后台文章列表页面的修改文章 图标点击后的跳转路径
                        '<a href="/admin/updateGroup?gid='+datas.data[i].gid+'"> '+
                        '<button class="layui-btn layui-btn-sm layui-btn-primary">'+
                        '<i class="layui-icon">&#xe642;</i>'+
                        '</button>'+
                        '</a>'+
                        '</td>'+
                        '<td >'+
                        '<button onclick="deleteGroup('+datas.data[i].gid+')" class="layui-btn layui-btn-sm layui-btn-primary">'+
                        '<i class="layui-icon">&#xe640;</i>'+
                        '</button>'+
                        '</td>'+
                        '</tr>';
                    $("#content_tbody").append(html);
                }

            },
            dataType:"json"
        });
    }

    function deleteGroup(gid){
        var result = window.confirm("确认删除编号："+gid+" 吗?");
        if (result ==true){
            $.ajax({
                url:"/group/delete",
                type:"POST",
                data:{gid:gid},
                success:function (data) {
                    if (data.msg == "操作成功") {
                        alert("操作成功");
                        location.reload();
                    } else {
                        alert("删除失败"+data.msg);
                    }
                }
            });
        }
    }
    $(function () {
        getAllGroup();
    });
</script>
</body>
</html>
