<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="stylesheet" th:href="@{../layui/css/layui.css}">-->
<!--    <title>主页</title>-->

<!--</head>-->
<div th:replace="~{common/head::head}"></div>
<body >

<div class="layui-btn-container">
    <button type="button" class="layui-btn layui-btn-lg layui-btn-primary layui-btn-radius"><a th:href="@{/common/blog}">进入博客</a></button>
</div>
<script th:src="@{../layui/layui.js}" charset="utf-8"></script>
<script th:src="@{https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js}"></script>
</body>
</html>